In [1]:
#Import lIbraries 
import numpy as np
import pandas as pd

In [2]:
#Import data set 
df = pd.read_csv('data\\kc_house_data.csv')

In [4]:
#drop unnecessary column data
df.drop(['id', 'date', 'waterfront', 'sqft_above', 'sqft_basement', 'lat', 'long', 'view', 'sqft_living15', 'sqft_lot15', 'yr_renovated'], axis=1, inplace=True)

In [6]:
df.head()

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,condition,grade,yr_built,zipcode
0,221900.0,3,1.00,1180,5650,1.0,3,7,1955,98178
1,538000.0,3,2.25,2570,7242,2.0,3,7,1951,98125
2,180000.0,2,1.00,770,10000,1.0,3,6,1933,98028
3,604000.0,4,3.00,1960,5000,1.0,5,7,1965,98136
4,510000.0,3,2.00,1680,8080,1.0,3,8,1987,98074

#define x & y
x = df.drop(['price']),axis=1.values
y = df['price'].values

X = preprocessed.drop('price_log', axis=1)
y = preprocessed['price_log']

In [ ]:
continuous = ['price', 'sqft_lot', 'sqft_living']
categoricals = ['bedrooms', 'bathrooms', 'floors', 'condition','yr_built', 'zipcode', 'grade']
data_cont = data[continuous]

In [ ]:
#creating duimmy data
pd.get_dummies(data)
#declaring categorical dummy data 
data_ohe = pd.get_dummies(data[categoricals], drop_first=True)
# one hot encode (ohe)categoricals
data_ohe = pd.get_dummies(data[categoricals], prefix=categoricals[0], drop_first=True)
preprocessed = pd.concat([data_log_norm, data_ohe], axis=1)
X = preprocessed.drop('grade', axis=1)
y = preprocessed['grade']

In [ ]:
split the data set in training set and test set

In [ ]:
Train the model on the training set

In [ ]:
Predict the test set results

In [ ]:
Evaluate the model

In [ ]:
Plot the results

In [ ]:
Predicted values